services:
  ironic:
    build: .
    ports:
      - 6385:6385
    volumes:
      - ${IRONIC_HOST_DIR:-/opt/ironic}:/app
      - ${IRONIC_CONF:-/opt/ironic/ironic.conf}:/app/ironic.conf:ro
      - ${IRONIC_DB_FILE:-/opt/ironic/ironic.sqlite}:/app/ironic.sqlite
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ${IRONIC_VMEDIA_DIR:-/opt/ironic/vmedia}:/usr/share/nginx/html:ro
    restart: unless-stopped
