services:
  ironic:
    build: .
    expose:
      - 6385
    volumes:
      - ${IRONIC_CONF:-/opt/ironic/config/ironic.conf}:/app/ironic.conf:ro
      - ${IRONIC_DB_FILE:-/opt/ironic/db/ironic.sqlite}:/app/ironic.sqlite
      - ${IRONIC_VMEDIA_DIR:-/opt/ironic/vmedia}:/app/vmedia
    restart: unless-stopped

  api:
    image: ghcr.io/mattcburns/ironic-aio-api:v0.0.1
    expose:
      - 8000:8000
    environment:
      - IRONIC_AIO_IRONIC_API_URL=http://ironic:6385
      - IRONIC_AIO_IRONIC_API_VERSION=1.82

  nginx:
    image: nginx:alpine
    ports:
      - 443:443     # AIO API (HTTPS)
      - 6385:6385  # Ironic API (HTTPS)
      - 8080:8080   # VMedia server
    volumes:
      - ${IRONIC_VMEDIA_DIR:-/opt/ironic/vmedia}:/usr/share/nginx/html:ro
      - ${NGINX_CONF:-./nginx.conf}:/etc/nginx/nginx.conf:ro
      - ${NGINX_HTPASSWD:-./htpasswd}:/etc/nginx/htpasswd:ro
      - ${NGINX_SSL:-./ssl}:/etc/nginx/ssl:ro
    depends_on:
      - ironic
    restart: unless-stopped
